<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/3_post.css">
</head><br>
<body>
	<!-- modal -->
    <div class="modal fade" id="input_vals_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
				<label for="content">Content:</label>
				<input type="text" id="content" name="content"/><br>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" onclick="submitComment()" class="btn btn-primary" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="inner">
		<!--<div id="title">
            <center><h1>{{post.title}}</h1></center>
        </div>-->
		<div id="hidden">{{post.postId}}</div>
		<div class="section" id="comments">
			<h3>Comments</h3>
			{{#each comments}}
				<div class="comment">
					<p class="comment-poster">{{poster}}</p>
					<p class="comment-content">{{content}}</p>
				</div>
			{{/each}}
			<div class="add-button" onclick="$('#input_vals_modal').modal('show')"> +</div>
		</div>
        <div class="section" id="post-info">
			<h3>{{post.title}}</h3>
			<center><div id="content"><p>{{post.content}}</p></div></center>
			<div class="tags">{{#each post.tags_indiv}}
							<div class="tag-indiv">{{this}}</div>
						{{/each}}</div>
		</div>
		<div class="section" id="policymakers">
			<center><h3>Policymakers</h3></center>
			{{#each policymakers}}
				<div class="dude-main">
					<img src="{{img}}">
					<div class="dude">
						<p class="name">{{name}}</p>
						<p class="position">{{position}} | {{field}} </p>
						<p class="email">{{email}}</p>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
<script type="text/javascript" src="js/3_post.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>